* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
.banner {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner_title {
  color: white;
  font-size: 40px;
}

.interaction {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: -10px 0 50px 25px black;
}
.interaction_buttons {
  display: flex;
  justify-content: center;
}
.interaction_buttons button {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 0 10px;
  border-radius: 50%;
  border: 1px solid black;
}
